$fs-1:16px;
$fs-2:24px;
$fs-3:32px;
$fs-4:48px;
$fs-5:56px;
$fs-6:60px;
$fs-7:72px;

$lh1:1px;
$lh2:2px;
$lh3:4px;
$lh4:6px;
$lh5:10px;
$lh6:14px;
$lh7:16px;
$lh8:18px;
$lh9:20px;

$ls-1:1px;
$ls-2:2px;
$ls-3:4px;
$ls-4:6px;