
@use 'variabales/mainvariable' as *;
.container{
    display: $flex;
    justify-content: $j-evenly;
    padding: $p-5 $p-10;
}
.box-1{
    border: $b-2 solid $bg-6;
    padding: $p-3-5 $p-1-5;
    text-align: $txt-cen;
    margin: 0 $m-1-5;
    border-radius: $brd-red0;
}
.box{
    border: $b-2 solid $bg-2;
    background-color: $bg-2;
    color: $bg-7;
}
.box-1 span i{
    font-size: $fs-6;
}
.box-1 p{
    line-height: $lh9;
}
.box-1 a{
    text-decoration: $txt-dec;
    width: $w-5;
    background-color: $bg-6;
    color: $bg-7;
    display: $block;
    padding: $p-1;
    border-radius: $brd-red3;
    margin: $m-2-5 $m-a;
}
.box a{
    color: $bg-2;
    background-color: $bg-7;
}